* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e2edf8;
}

.title {
    color: #1da1f2;
    font-weight: bold;
    font-size: 30px;
}

.navbar {
    width: 100%;
    background-color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
}

.container {
    max-width: 700px;
    margin: 30px auto;
    padding: 20px;
}

.profile-pic {
    width: 45px;
    height: 45px;
    background-color: rgb(181, 176, 176);
    border-radius: 50%;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    resize: none;
    margin-bottom: 10px;
    border: none;
    outline: none;
}

.tweet-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

button {
    background-color: #1da1f2;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #2278ae;
}

button:active {
    transform: scale(0.95);
}

button:disabled {
    background-color: #90d2f3;
    cursor: not-allowed;
    opacity: 0.6;
}

.iconBtn {
    background: none;
    color: #657786;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 20px;
    transition: 0.2s;
}

.iconBtn:hover {
    color: #1da1f2;
    background-color: rgb(215, 239, 245);
}

.tweet {
    padding: 20px;
    border-radius: 10px;
}

.tweet-box {
    background: white;
    border-radius: 10px;
}

.new-tweet {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
}

.new-tweet-right {
    flex: 1;
}

.tweet-header {
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

.tweet-header-right {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
}

.divider {
    border: none;
    border-top: 1px solid #dbe4eb;
    margin: 0 15px;
}


.tweet-body {
    margin: 10px 0;
}

.main-user {
    color: gray;
    font-size: 14px;
}

.tweet-footer {
    display: flex;
    justify-content: space-around;
}

/* Responsive for Tablet */
@media (max-width: 900px) {
    .container {
        max-width: 100%;
        padding: 15px;
    }
}

/* Responsive for Mobile */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    textarea {
        height: 80px;
    }

    .tweet-controls {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    button {
        align-self: flex-end;
    }
}